---
import Layout from "../../layouts/Layout.astro";
import { type SanityArticle } from "../../types";
import {sanityClient} from 'sanity:client';

export async function getStaticPaths() {
  const sanityArticles = await sanityClient.fetch(`*[_type == "article"]`);
  return sanityArticles.map(({slug, title, description, body}: SanityArticle) => ({
      params: {slug: slug.current},
        props: {title, description, body}
    }));
}

const { title, description, body } = Astro.props;
---

<Layout
  title={title}
  description={description}
  og_title={title}
  og_description={description}
  og_type="article"
>
  <article class="prose mx-auto flex w-full max-w-prose flex-col gap-4">
    <h1 class="mb-0">
      {title}
    </h1>
    <p class="mt-0 mb-1">{description}</p>
    <div class="divider m-0"></div>
    {body}
  </article>
</Layout>
